/* ################################################## */
/* ######################### ROOT CSS ######################### */
/* ################################################## */
:root{
    --colorGrade1: #37b182;
    --colorGrade2: #a79d19;
    --colorGrade3: #a486db;
    --colorGrade4: #0084ff;
    --colorGrade5: #FF69B4;
    --colorGrade6: #ff0257;
    --colorGrade7: #14b5ca;
    --colorGrade8: #FF6347;

    --bodyBackground: #f2fafd;
    --headerBackground: #e1edf3;
    --themeSettingsBackground: #dce7ec;
    --scrollbarBackground: transparent;

    --textColor: #333;
    --textColor2: #ddd;
    --selectionColor: var(--bodyBackground);
    --highlightedColor: var(--colorGrade1);

    --animationRotateStyle: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    --headerWidth: 36rem;
    --themeSettingsWidth: 4rem;

    --boxShadow4side: 0 0 .5rem 0rem rgba(0,0,0,0.3);

    --borderRadius: .5rem;
}

/* ######################### DARK MODE CSS VAR ######################### */
html[data-theme='dark']{
    --bodyBackground: #2a2b2c;
    --headerBackground: #1a1d1f;
    --themeSettingsBackground: #171a1d;

    --textColor: #ddd;
    --textColor2: #333;
}

/* ######################### LIGHT MODE CSS VAR ######################### */
html[data-theme='light']{
    --bodyBackground: #f2fafd;
    --headerBackground: #e1edf3;
    --themeSettingsBackground: #dce7ec;

    --textColor: #333;
    --textColor2: #ddd;
}

/* ################################################## */
/* ######################### COMMON CSS ######################### */
/* ################################################## */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}
*::selection{
    background: var(--highlightedColor);
    color: var(--selectionColor);
}
*::-webkit-scrollbar{
    width: 0;
}
html{
    font-family: 'Nunito', sans-serif;
    color: var(--textColor);
    background: var(--headerBackground);
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.scrollbar-track{
    width: .5rem !important;
    background: var(--scrollbarBackground) !important;
}
.scrollbar-thumb{
    background: var(--highlightedColor) !important;
    border-radius: 0 !important;
}
body{
    font-size: 1.6rem;
    display: flex;
    height: 100vh;
    background: var(--bodyBackground);
}
a, button{
    text-decoration: none;
    color: var(--textColor);
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: .15rem;
}
a:hover, button:hover{
    color: var(--highlightedColor);
}
li{
    list-style: none;
}
.user-name,
.user-post,
.developer-post{
    text-transform: capitalize;
}
.user-name{
    letter-spacing: .5rem;
    font-variant: small-caps;
}
.user-post{
    font-weight: 600;
}
.user-image{
    width: 20rem;
    margin: 1rem auto;
}
.user-image .image{
    width: 100%;
    height: 100%;
}
.btn-hover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--borderRadius);
    border: .1rem solid transparent;
    transition: all .2s linear;
    cursor: pointer;
    color: var(--textColor);
}
.btn-hover:hover{
    border: .1rem solid var(--highlightedColor);
    color: var(--highlightedColor);
    box-shadow: 0 0 .5rem 0 var(--highlightedColor);
}
pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Nunito', sans-serif;
    color: var(--textColor);
    font-size: 1.6rem;
}
.user-connect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}
.connect-item{
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
}

section{
    padding: 5rem;
    width: 100%;
    display: flex;
}
.section-odd{
    flex-direction: row;
}
.section-even{
    flex-direction: row-reverse;
}
.section-col{
    width: 100%;
}
.section-header{
    width: 30%;
}
.section-title{
    text-transform: uppercase;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title::before{
    content: "";
    display: block;
    width: .2rem;
    height: 40%;
    background: var(--highlightedColor);
    right: 50%;
    top: 0;
    position: absolute;
}
.section-title::after{
    content: "";
    display: block;
    width: .2rem;
    height: 40%;
    background: var(--highlightedColor);
    right: 50%;
    bottom: 0;
    position: absolute;
}
.section-row{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* ################################################## */
/* ######################### HEADER CSS ######################### */
/* ################################################## */
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    height: 100vh;
    width: var(--headerWidth);
    overflow: hidden;
    background: var(--headerBackground);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 0 1.5rem -.7rem rgba(0,0,0,0.53);
    -webkit-box-shadow: 0 0 1.5rem -.7rem rgba(0,0,0,0.53);
    -moz-box-shadow: 0 0 1.5rem -.7rem rgba(0,0,0,0.53);
    transition: all .2s linear;
}
header.active-header{
    left: calc(var(--themeSettingsWidth) - var(--headerWidth));
}
header .header-col{
    padding: 2rem;
    width: calc(var(--headerWidth) - var(--themeSettingsWidth));
    overflow-y: scroll;
}
header .user-details{
    width: 100%;
}
header .user-name{
    font-size: 3rem;
}
header .user-post{
    color: var(--highlightedColor);
}
header .user-image{
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1.2rem solid var(--highlightedColor);
    border-bottom: 1.2rem solid var(--textColor);
    border-top: 1.2rem solid var(--textColor);
    animation: rotateBorder 4s infinite var(--animationRotateStyle);
    box-shadow: var(--boxShadow4side);
    -webkit-box-shadow: var(--boxShadow4side);
    -moz-box-shadow: var(--boxShadow4side);
}
@keyframes rotateBorder{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
header .user-image .image{
    border-radius: 50%;
    animation: alterRotate 4s infinite var(--animationRotateStyle);
}
@keyframes alterRotate{
    from{
        transform: rotate(720deg);
    }
    to{
        transform: rotate(0deg);
    }
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
header .nav-item a{
    padding: 1rem 3rem;
    background: var(--bodyBackground);
    margin: .5rem 0;
    justify-content: space-between;
}
header .nav-item .active-nav-item{
    background: var(--highlightedColor);
}
header .nav-item .active-nav-item:hover{
    color: var(--textColor);
}
header.active-header .navbar{
    width: var(--themeSettingsWidth);
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    overflow-y: scroll;
}
header.active-header .nav-item{
    margin: auto;
}
header.active-header .nav-item a{
    padding: 0;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.active-header .nav-item a span{
    display: none;
}

header .developer-info{
    width: 100%;
}
header .connect-item{
    background: var(--bodyBackground);
}
header .theme-settings{
    height: 100%;
    width: var(--themeSettingsWidth);
    background: var(--themeSettingsBackground);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: .5rem;
}
header .theme-settings button{
    background: transparent;
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    margin: .5rem 0;
}
header .hamburger button{
    font-size: 3rem;
}
header.active-header .hamburger{
    transform: rotate(180deg);
}
header .light-dark-toggler button svg{
    padding: .5rem;
}
html[data-theme="dark"] header .darkmode-toggler,
html[data-theme="light"] header .lightmode-toggler{
    display: none;
}
header .theme-color{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .color-plate{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 0;
    overflow-x: hidden;
    transition: all .2s linear;
    z-index: 9999;
    background: var(--themeSettingsBackground);
}
header .color-plate.active-color-plate{
    height: 30rem;
}
header .color-plate-toggler i{
    animation: gearRotation 2s infinite linear;
}
@keyframes gearRotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
header .color-plate .color-grade-changer{
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    border: .2rem solid var(--bodyBackground);
}
header .color-plate .color-grade-1{
    background: var(--colorGrade1);
}
header .color-plate .color-grade-2{
    background: var(--colorGrade2);
}
header .color-plate .color-grade-3{
    background: var(--colorGrade3);
}
header .color-plate .color-grade-4{
    background: var(--colorGrade4);
}
header .color-plate .color-grade-5{
    background: var(--colorGrade5);
}
header .color-plate .color-grade-6{
    background: var(--colorGrade6);
}
header .color-plate .color-grade-7{
    background: var(--colorGrade7);
}
header .color-plate .color-grade-8{
    background: var(--colorGrade8);
}

/* ################################################## */
/* ######################### MAIN SECTION CSS ######################### */
/* ################################################## */
.main{
    padding: 2rem 3rem;
    width: calc(100% - var(--headerWidth));
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    top: 0;
    left: var(--headerWidth);
    transition: all .2s linear;
    text-align: justify;
}
.main.active-header{
    left: var(--themeSettingsWidth);
    width: calc(100% - var(--themeSettingsWidth));
}
.main .profile{
    width: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: auto;
}
.main .welcome-note{
    text-transform: capitalize;
}
.main .user-name{
    color: var(--highlightedColor);
    font-size: 4rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: .5rem solid var(--highlightedColor);
    animation: typeWriterEffect 3s infinite cubic-bezier(0.22, 0.61, 0.36, 1);
}
@keyframes typeWriterEffect {
    0%, 10%, 100%{
        width: 0;
    }
    60%, 90%{
        width: 100%;
    }
}
.main .user-post{
    text-align: right;
}
.main .user-connect{
    display: flex;
    justify-content: space-between;
}
.main .connect-item{
    background: var(--headerBackground);
    width: 5rem;
    height: 4rem;
    margin: 0;
}
.main .hire-user{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main .hire-user a{
    font-weight: 600;
    background: var(--headerBackground);
    width: 48%;
    padding: .7rem 0;
}
.main .user-image{
    width: 100%;
    border-radius: 20rem 20rem 2rem 2rem;
    background-size: cover;
}
.main .user-image img{
    border: 1rem double var(--highlightedColor);
    border-radius: 20rem 20rem 2rem 2rem;
    box-shadow: 0 0 1rem 0 var(--highlightedColor);
    -webkit-box-shadow: 0 0 1rem 0 var(--highlightedColor);
    -moz-box-shadow: 0 0 1rem 0 var(--highlightedColor);
}

















/* .scroll-top{
    position: fixed;
    bottom: 2rem;
    right: 3rem;
}
.scroll-top-icon{
    box-shadow: var(--boxShadow4side);
    background: var(--headerBackground);
    font-size: 2.3rem;
    transition: all .2s linear;
    height: 5rem;
    width: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}
.scroll-top-icon{
    opacity: 1;
    width: 4rem;
    pointer-events: all;
} */